* {
	margin: 0;
	padding: 0;
}

/* 슬라이드배너 꾸미기 */
.gallery {
	width: 1320px;
	margin: 100px auto;
	padding: 0 0px 40px;
	box-sizing: border-box;
	position: relative;
}

.gallery_inner {
	width: 120%;
	overflow: hidden;
}

.gallery .swiper-slide a {
	width: 120%;
	height: 120%;
}

.gallery .swiper-slide img {
	display: block;
	width: 120%;
	margin-left: -58px;
}

/*이동버튼 영역 색상 바꾸기*/
.gallery .swiper-button-prev,
.gallery .swiper-button-next {
	color: #593000;
}

/*이동버튼 영역 호버 시 색상 바꾸기*/
.gallery .swiper-button-prev:hover,
.gallery .swiper-button-next:hover {
	color: #FFF0DF;
}

/* 이동버튼 이미지로 바꾸기
.gallery .swiper-button-prev,
.gallery .swiper-button-next{
	width: 50px;
	height: 50px;
}
.gallery .swiper-button-prev:after,
.gallery .swiper-button-next:after{
	content: '';
	display: block;
	width: 50px;
	height: 50px;
}
.gallery .swiper-button-prev:after{
	background: url(../images/prev.png);
}
.gallery .swiper-button-next:after{
	background: url(../images/next.png);
}
 */

/* 블릿버튼 크기, 색상, 투명도 */
.gallery .swiper-pagination-bullet {
	background: #a95a00;
	width: 10px;
	height: 10px;
	opacity: 0.5;
}

/* 블릿버튼 페이지 표시날 때 투명도 */
.gallery .swiper-pagination-bullet-active {
	opacity: 1;
}

/* 블릿버튼 위치 */
.gallery .swiper-horizontal>.swiper-pagination-bullets,
.gallery .swiper-pagination-bullets.swiper-pagination-horizontal {
	bottom: 0px;
}


.swiper-wrapper {
	transition-timing-function: linear;
  }
  



.gallery_inner.swiper-initialized.swiper-horizontal.swiper-pointer-events.swiper-backface-hidden {
    width: 1320px;}