* {
	margin: 0;
	padding: 0;
}

/* 슬라이드배너 꾸미기 */
.gallery {
	width: 1320px;
	margin: 50px auto;
	padding: 0 100px;
	box-sizing: border-box;
	position: relative;
}

.gallery_inner {
	width: 100%;
	overflow: hidden;
}

.gallery .swiper-slide a {
	width: 100%;
	height: 100%;
}

.gallery .swiper-slide img {
	display: block;
	width: 100%;
}
/*
이동버튼 영역 색상 바꾸기
.gallery .swiper-button-prev,
.gallery .swiper-button-next {
	color: pink;
}

이동버튼 영역 호버 시 색상 바꾸기
.gallery .swiper-button-prev:hover,
.gallery .swiper-button-next:hover {
	color: purple;
 } */

/* 이동버튼 이미지로 바꾸기 */
.gallery .swiper-button-prev,
.gallery .swiper-button-next{
	width: 52px;
	height: 52px;
}
.gallery .swiper-button-prev:after,
.gallery .swiper-button-next:after{
	content: '';
	display: block;
	width: 52px;
	height: 52px;
}


.gallery .swiper-button-prev:after{
	background: url(../images/btn1.png) no-repeat;

}
.gallery .swiper-button-next:after{
	background: url(../images/btn2.png) no-repeat;

}



.swiper-wrapper {
	transition-timing-function: linear;
  }
  