* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

/* 탭메뉴 꾸미기 */
.tab {
  width: 1320px;
  margin:  auto;
  overflow: hidden;
  padding: 50px;

}

.tabnav {
  width: 600px;
  overflow: hidden;

}

.tabnav li {
  float: left;
}

.tabnav li a {
  display: block;
  padding: 20px 20px 5px 20px;
  position: relative;
  z-index: 2;
  font-size: 15px;
  font-weight: bold;
}

/* 탭메뉴 클릭했을 때 변화 꾸미기 */
.tabnav li .active {
  border: 1px solid #7fa21e00;
  border-bottom: 2px solid #643500;
}

.tabnav li a:hover,
.tabnav li a.active {
  color: #643500;
}

/* 탭컨테츠 꾸미기 */
.tabcontent {
  padding: 20px;
  height: 244px;
  margin-bottom: 100px;
  position: relative;
  top: -1px;
}