* {
	margin: 0;
	padding: 0;
}

/* 슬라이드배너 꾸미기 */
.gallery-center {
	width: 1320px;
	height: 100%;
	margin: 50px auto;
	padding: 0 100px 40px;
	box-sizing: border-box;
	position: relative;

}

.gallery-center_inner {
	width: 100%;
	overflow: hidden;
}



.gallery-center .swiper-slide img {
	display: block;
	width: 100%;
	border-radius: 15px;

}

/* 
이동버튼 영역 색상 바꾸기
.gallery-center .swiper-button-prev,
.gallery-center .swiper-button-next {
	color: #000 ;
}

이동버튼 영역 호버 시 색상 바꾸기
.gallery-center .swiper-button-prev:hover,
.gallery-center .swiper-button-next:hover {
	color: rgb(232, 232, 232);
}
*/
.gallery-center .swiper-button-prev,
.gallery-center .swiper-button-next {
	width: 52px;
	height: 52px;
}

.gallery-center .swiper-button-prev:after,
.gallery-center .swiper-button-next:after {
	content: '';
	display: block;
	width: 52px;
	height: 52px;
}

.gallery-center .swiper-button-prev:after {
	background: url(../images/btn1.png) no-repeat;
	text-align: center;
}

.gallery-center .swiper-button-next:after {
	background: url(../images/btn2.png) no-repeat;
    text-align: center;
}


/* 블릿버튼 크기, 색상, 투명도 */
.gallery-center .swiper-pagination-bullet {
	background: #9B5507;
	width: 10px;
	height: 10px;
	opacity: 0.5;
}

/* 블릿버튼 페이지 표시날 때 투명도 */
.gallery-center .swiper-pagination-bullet-active {
	opacity: 1;
}

/* 블릿버튼 위치 */
.gallery-center .swiper-horizontal>.swiper-pagination-bullets,
.gallery-center .swiper-pagination-bullets.swiper-pagination-horizontal {
	bottom: 0px;
}




/* 슬라이드배너 꾸미기2 */
.gallery-center2 {
	width: 1320px;
	height: 100%;
	margin: 50px auto;
	padding: 0 50px 40px;
	box-sizing: border-box;
	position: relative;

}

.gallery-center_inner {
	width: 100%;
	overflow: hidden;
}

.gallery-center2 .swiper-slide a {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.gallery-center2 .swiper-slide img {
	display: block;
	width: 100%;
}

.gallery-center2 .swiper-slide {

	border: #643500 solid 1px;
	background-color: #fff7ed;
	box-sizing: border-box;
}

.gallery-center2 .swiper-slide h3 {
	padding: 20px 30px;
	font-size: 20px;
	font-weight: bold;
	color: #643500;
}

.gallery-center2 .swiper-slide p {
	padding: 0 0px 20px 30px;
	font-size: 18px;
}


.gallery-center2 .swiper-slide.swiper-slide-active {
	border-radius: 50px 0px 0 50px;
	overflow: hidden;
}


.gallery-center2 .swiper-slide.swiper-slide-next {
	border-radius: 0 50px 50px 0;
	overflow: hidden;
}



/* 
이동버튼 영역 색상 바꾸기
.gallery-center .swiper-button-prev,
.gallery-center .swiper-button-next {
	color: #000 ;
}*/

이동버튼 영역 호버 시 색상 바꾸기 .gallery-center2 .swiper-button-prev:hover,
.gallery-center2 .swiper-button-next:hover {
	background-color: #643500;
}

.gallery-center2 .swiper-button-prev:hover {
	background-color: #643500;

}

.gallery-center2 .swiper-button-prev {
	background: url(../images/arrow1.png) no-repeat center;
	padding: 3px 20px;
}

.gallery-center2 .swiper-button-next {
	background: url(../images/arrow2.png) no-repeat center;
	padding: 3px 20px;
}

.gallery-center2 .swiper-button-prev,
.gallery-center2 .swiper-button-next {
	width: 130px;
	height: 35px;
	border: #643500 2px solid;
	border-radius: 17px 17px 0 0;
}

.gallery-center2 .swiper-button-prev:after,
.gallery-center2 .swiper-button-next:after {
	content: '';
	display: block;
	width: 50px;
	height: 50px;
}

/* 버튼위치 */
.gallery-center2 .swiper-button-next,
.swiper-rtl .swiper-button-prev {
	right: 51px;
	top: 650px;
}

.gallery-center2 .swiper-button-prev,
.swiper-rtl .swiper-button-next {
	left: 50px;
	top: 650px;
}


/*  
.gallery-center2 .swiper-button-prev:after {
	background: url(../images/btn1.png) no-repeat;
	margin: -86px;
	padding: 18px;
	text-align: center;
}

.gallery-center2 .swiper-button-next:after {
	background: url(../images/btn2.png) no-repeat;
	padding: 26px;
	margin-left: 40px;
	text-align: center;
}
*/