* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    font-family: 'NanumSquare';
    font-size: 13px;
    line-height: 30px;
    color: #000;
    min-width: 1320px;
    position: relative;
}

/* header */

.top {
    margin: auto;
    background-color: #FFF0DF;
    height: 130px;

}

header {
    width: 1320px;
    margin: 10px auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
}

.logo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 190px;
    height: 45px;
}

header ul {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
}

.icon li img {
    width: 45px;
    height: 45px;
}

.icon li {
    margin-left: 15px;
    margin-bottom: 10px;
}

.menu li {
    margin-left: 20px;
}

.menu li a {
    font-size: 18px;
    padding: 5px 20px;
    border: 2px solid #9B5507;
    background-color: #FFF0DF;
    border-radius: 12px 12px 0 0;
}

.menu li a:hover {
    background-color: #9B5507;
    color: #FFF0DF;
}

.icon li a:hover {
    filter: grayscale(0.7);
}

/* search bar */

.search {
    position: relative;
    display: flex;
    width: 1320px;
    margin: auto;
}

.searchTerm {
    width: 100%;
    border: 3px solid #a95a00;
    border-right: none;
    padding: 5px 20px;
    height: 22px;
    border-radius: 150px;
    outline: none;
    color: #FFF0DF;
}

.searchTerm:focus {
    color: #a95a00;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #a95a00;
    background: url(../images/x.png) no-repeat center;
    background-size: 55%;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 100%;
    position: absolute;
    top: -58px;
    left: 0%;
    background-color: #a95a00;
    padding: 10px 0;
    z-index: 3;
    transition: 0.5s;
}

/* banner */
h1 {
    margin: 50px 0;
    text-align: center;
    font-size: 35px;
    color: #643500;
}

.banner {
    height: 350px;
    background: url(../images/sub2banner.png) center top no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}

.banner h1 {
    margin: 0;
    color: white;
    padding-top: 160px;
    padding-bottom: 10px;
}

.banner h1:after{
    content: "";
    display: block;
    width: 60px;
    border-bottom: 5px solid white;
    margin: 12px auto;
    text-align: center;
}

/* con1 */

section{
    overflow: hidden;
} 
.story1 {
    width: 1320px;
    height: 500px;
    margin: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    font-size: 18px;
}

.story1 p {
    margin: 280px 200px 0px 0;
    padding: 0;
}

.story2 {
    width: 1320px;
    height: 500px;
    margin: 70px auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}

.story2 p {
    padding: 75px 0 0px 150px;
    font-size: 18px;
    text-align: end;
}

.con2 p {
    font-size: 22px;
    margin: 30px 0;
    line-height: 40px;
    margin: 50px;
}

.con3 p {
    font-size: 22px;
    margin: 30px 0;
    line-height: 40px;
}

/* con2 */
.con2 {
    width: 1320px;
    margin: 150px auto;
    text-align: center;
}

/* con3 */
.con3 {
    width: 1320px;
    margin: 150px auto;
    text-align: center;
    margin-bottom: 100px;
}

/* con4 map */
iframe {
    width: 100%;
    display: block;
    margin-top: 35px;
}

.map {
    width: 1000px;
    margin: 10px auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 15px;
}

.aaa {
    font-size: 20px;
    font-weight: bold;
}

.bottom {
    width: 100%;
}

.map p {
    margin: 0 20px;
}

/* footer */
footer {
    background-color: #FFF0DF;
    border-top: 5px #9B5507 solid;
    text-align: center;
    padding: 20px 0;
}

footer ul img {
    width: 45px;
    height: 45px;
}

footer ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;

}

footer ul li {
    margin: 0 15px;
}

footer ul li a:hover {
    text-decoration: underline;
}

footer ul li img:hover {
    filter: contrast(15);
}