* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    font-family: 'NanumSquare';
    font-size: 13px;
    line-height: 30px;
    color: #000;
    min-width: 1320px;
    position: relative;
}

/* header */

.top {
    margin: auto;
    background-color: #FFF0DF;
    height: 130px;

}

header {
    width: 1320px;
    margin: 10px auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
}

.logo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 190px;
    height: 45px;
}

header ul {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
}

.icon li img {
    width: 45px;
    height: 45px;
}

.icon li {
    margin-left: 15px;
    margin-bottom: 10px;
}

.menu li {
    margin-left: 20px;
}

.menu li a {
    font-size: 18px;
    padding: 5px 20px;
    border: 2px solid #9B5507;
    background-color: #FFF0DF;
    border-radius: 12px 12px 0 0;
}

.menu li a:hover {
    background-color: #9B5507;
    color: #FFF0DF;
}

.icon li a:hover {
    filter: grayscale(0.7);
}

/* search bar */

body {
    background: #f2f2f2;
    width: 100%;
}

.search {
    position: relative;
    display: flex;
    width: 1320px;
    margin: auto;
}

.searchTerm {
    width: 100%;
    border: 3px solid #a95a00;
    border-right: none;
    padding: 5px 20px;
    height: 22px;
    border-radius: 150px;
    outline: none;
    color: #FFF0DF;
}

.searchTerm:focus {
    color: #a95a00;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #a95a00;
    background: url(../images/x.png) no-repeat center;
    background-size: 55%;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 100%;
    position: absolute;
    top: -58px;
    left: 0%;
    background-color: #a95a00;
    padding: 10px 0;
    z-index: 3;
    transition: 0.5s;
}

/* con1 */
h1 {
    text-align: center;
    font-size: 35px;
    color: #643500;
    margin-top: 80px;
}

.con1 ul {
    width: 1320px;
    margin: 55px auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}

.con1 ul li {
    border-radius: 50px;
    margin: 0 30px;
}

.con1 ul li a {
    display: inline-block;
    padding: 5px 20px;
    width: 120px;
    text-align: center;
    border-radius: 50px;
    border: 1px solid #9B5507;
    color: #9B5507;
    font-weight: bold;
    background-color: #fff8ef;
    font-size: 16px;
}

.con1 ul li a:hover {
    background-color: #9B5507;
    color: #FFF0DF;
    border: 1px solid #FFF0DF;
    font-weight: bold;
}

.con1 ul li:nth-child(1) a{
    background-color: #9B5507;
    color: #FFF0DF;
    border: 1px solid #FFF0DF;
    font-weight: bold;
}



/* con2 */

.event {
    width: 1320px;
    margin: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.event li a {
    margin: 22px 0;
    display: inline-block;
}

.event div {
    width: 600px;
    height: 320px;
    border-radius: 25px;
    box-sizing: border-box;
}

.event li div .text {
    padding: 75px 0 0 70px;
}

h3 {
    font-size: 35px;
    line-height: 45px;
    font-weight: bold;
    margin: 5px 0;
}

.event li div .text p {
    font-size: 17px;
}

.event li:nth-child(1) .text {
    background: url(../images/sub4event1.png) no-repeat;
}

.event li:nth-child(2) .text {
    background: url(../images/sub4event2.png) no-repeat;
}

.event li:nth-child(3) .text {
    background: url(../images/sub4event3.png) no-repeat;
}

.event li:nth-child(4) .text {
    background: url(../images/sub4event4.png) no-repeat;
}

.event li:nth-child(5) .text {
    background: url(../images/sub4event5.png) no-repeat;
}

.event li:nth-child(6) .text {
    background: url(../images/sub4event6.png) no-repeat;
}

h4 {
    font-size: 22px;
    margin-top: 10px;
}

/* hover */

.event li a:hover div{
    transform: scale(1.02, 1.02);
}

.over{
    overflow: hidden;
}

.event li a div{
    display: block;
    transition: all 1s;
}


/* footer */
footer {
    background-color: #FFF0DF;
    border-top: 5px #9B5507 solid;
    text-align: center;
    padding: 20px 0;
    margin-top: 100px;
}

footer ul img {
    width: 45px;
    height: 45px;
}

footer ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;

}

footer ul li {
    margin: 0 15px;
}

footer ul li a:hover {
    text-decoration: underline;
}

footer ul li img:hover {
    filter: contrast(15);
}